<footer id="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-section elmohandes">
        <div class="title-with-logo">
          <img src="assets/images/Mercedes-Logo.svg.png" alt="Elmohandes Logo" class="footer-logo" />
          <h6>Elmohandes Service Center</h6>
        </div>
        <ul class="social-icons elmohandes-icons">
          <li><a href="https://www.facebook.com/Eng.ayman.fawzy1?locale=ar_AR"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a></li>
        </ul>
      </div>

      <div class="managers-wrapper">
        <div class="footer-section managers">
          <div class="title-with-image green">
            <img src="assets/images/471157538_3174366792741535_3078055598875489057_n.jpg" alt="Ebrahim Ayman" />
            <h6>Manager Ebrahim Ayman</h6>
          </div>
          <ul class="social-icons manager-icons">
            <li><a href="https://www.facebook.com/Ebrahim01145112771?locale=ar_AR"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://mail.google.com/mail/u/0/#inbox"><i class="fas fa-envelope"></i></a></li>
            <li><a href="https://www.pinterest.com/"><i class="fab fa-pinterest-p"></i></a></li>
            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>

        <div class="footer-section managers">
          <div class="title-with-image yellow">
            <img src="assets/images/488250514_3104071369749543_7258839932913421125_n.jpg" alt="Muhammed Ayman" />
            <h6>Manager Muhammed Ayman</h6>
          </div>
          <ul class="social-icons manager-icons">
            <li><a href="https://www.facebook.com/mahmad.ayman.75?locale=ar_AR"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://mail.google.com/mail/u/0/#inbox"><i class="fas fa-envelope"></i></a></li>
            <li><a href="https://www.pinterest.com/"><i class="fab fa-pinterest-p"></i></a></li>
            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
